@font-face {
  font-family: "Quicksand"; /*a name to be used later*/
  src: url("../../../font/Quicksand_Medium/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand-Light"; /*a name to be used later*/
  src: url("../../../font/Quicksand_Light/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato-Regular"; /*a name to be used later*/
  src: url("../../../font/Lato/Lato-Regular.ttf");
}

body {
  font-family: "Quicksand-Light";
  
  /* background-size: 100px auto; */
  /* background-image: url("../../res/ADOK_Logo_symbol.png"); */
  
  color: white;

  background: #4D67EA;
  /* background-color: transparent; */
  /* padding: 7px; */
  /* padding: 7px; */
  /* margin: 0px; */
  margin-bottom: 0;
}
#layout{

  /* background: #4D67EA; */
}

.background_image{
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  width: 90vw;
}


button {
  border: 0;
  background-color: #232A45;
  height: 42px;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Quicksand";

}

/* button:{
background-color: red;
} */

h1 {
  font-size: 16px;
}

h2 {
  font-size: 16px;
  font-family: "Lato-Regular";
  letter-spacing: 1px;
}

.adok-title {
  margin-top: -2px;
  font-size: 20px;
  font-family: "Quicksand";
}

.adok-title .adok-title-strong {
  font-family: "Quicksand-Light";
  font-size: 27px;
}

#exit {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  background: none;
  /* color: #ffffff;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-family: "Quicksand-Light"; */
  background-image: url("../../../res/close_white.png");
}



.panel-grid-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.panel-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.panel-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.panel-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

#left-rotation {
  background-image: url("../../../res/rotate.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  /* background-color: #232946; */
}
/* 
#btn-orientation-90 {
  background-image: url("../../res/rotate.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
} */

#right-rotation {
  background-image: url("../../../res/rotate-inverse.png");
  transform: rotate(-1x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#inverse-screen {
  background-image: url("../../../res/180.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#small-screen {
  background-image: url("../../../res/small-screen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#medium-screen {
  background-image: url("../../../res/medium-screen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#big-screen {
  background-image: url("../../../res/big-screen.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#custom-resizing {
  background-image: url("../../../res/custom-resizing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  background-color: transparent;
}

.large-button{
  background-image: url("../../../res/large.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

.small-button{
  background-image: url("../../../res/small.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%; 
}

.footer{
  position: absolute;
  bottom: 0px;
  #get-started-button{
    margin-left:16vw;
    margin-top: 23px;
    background: #4D67EA;
    padding-left : 50px;
    padding-right : 60px;
    font-family: "Lato-Regular";
    font-size: 18px;

  }
  img{
    position: absolute;
    bottom: 27px;
    right: 60px;
  }
}

.text-footer{
  background-color: #20253D;
  height: 90px;
  margin-top: 30px;
  margin-left: -8px;
  width: 100vw;
}

.arrow-footer{
  background: transparent;
  /* height: 20px;
  margin-left: -15px;
  width: 100vw; */
  margin-left: 40vw;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #20253D;
}
